
body {
    padding: 25px;
    background-color:#e4e5f1;
    color:#121212;
    font-size: 25px;
}
.dark-mode {
    background-color:#222222;
    color: white;
}
/* .light-mode {
    background-color: white;
    color: black;
} */
.l-header{
    background-color: #222222;
}


